# Will we get a White Christmas in Transylvania in 2020?

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)

In [2]:
df = pd.read_excel("Transylvania_Christmas_Wheather.xlsx")
df.head()

             NAME       DATE  PRCP  TAVG  TMAX  TMIN
0  CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1  CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2  CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3  CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4  CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3

In [3]:
df.dtypes

NAME            object
DATE    datetime64[ns]
PRCP           float64
TAVG           float64
TMAX           float64
TMIN           float64
dtype: object

In [4]:
df.shape

(68815, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68815 entries, 0 to 68814
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    68815 non-null  object
 1   DATE    68815 non-null  datetime64[ns]
 2   PRCP    68397 non-null  float64
 3   TAVG    39406 non-null  float64
 4   TMAX    68705 non-null  float64
 5   TMIN    68655 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 3.2+ MB

In [6]:
df.describe()

               PRCP          TAVG          TMAX          TMIN
count  68397.000000  39406.000000  68705.000000  68655.000000
mean       1.636538      9.026176     15.153561      4.261601
std        4.388025      9.005401     10.215610      8.076367
min        0.000000    -27.100000    -20.400000    -34.200000
25%        0.000000      1.900000      6.500000     -1.300000
50%        0.000000      9.900000     16.400000      5.000000
75%        1.000000     16.600000     23.600000     10.900000
max       81.600000     30.000000     40.000000     25.500000

In [7]:
df = df[(df['DATE'].dt.month == 12)]

In [8]:
df.head(-40)

                 NAME       DATE  PRCP  TAVG  TMAX  TMIN
0      CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1      CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2      CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3      CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4      CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3
...               ...        ...   ...   ...   ...   ...
68436        SIBIU RO 2018-12-18  11.7  -1.6   0.8  -2.1
68437        SIBIU RO 2018-12-19   0.1  -2.1  -0.4  -2.9
68438        SIBIU RO 2018-12-20   0.0  -2.3  -0.7  -2.8
68439        SIBIU RO 2018-12-21   0.0  -3.8   1.1  -5.8
68440        SIBIU RO 2018-12-22   0.0   2.7   8.9  -7.5

[5829 rows x 6 columns]

In [9]:
df.head(-1)

                 NAME       DATE  PRCP  TAVG  TMAX  TMIN
0      CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1      CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2      CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3      CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4      CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3
...               ...        ...   ...   ...   ...   ...
68809        SIBIU RO 2019-12-26   2.3   1.9   3.6   0.4
68810        SIBIU RO 2019-12-27   0.0   1.8   5.3  -0.8
68811        SIBIU RO 2019-12-28   2.8  -0.3   1.3  -1.3
68812        SIBIU RO 2019-12-29   4.7  -2.6  -0.3  -3.2
68813        SIBIU RO 2019-12-30   0.0  -5.7   0.6  -8.8

[5868 rows x 6 columns]

In [10]:
df.shape

(5869, 6)

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df.head(-1)

                NAME       DATE  PRCP  TAVG  TMAX  TMIN
0     CLUJ NAPOCA RO 1950-12-01   4.3   NaN   7.9   1.6
1     CLUJ NAPOCA RO 1950-12-02   0.0   NaN   2.7  -1.2
2     CLUJ NAPOCA RO 1950-12-03   0.0   NaN   0.4  -3.0
3     CLUJ NAPOCA RO 1950-12-04   0.0   NaN   1.3  -3.2
4     CLUJ NAPOCA RO 1950-12-05   3.3   NaN   7.0  -0.3
...              ...        ...   ...   ...   ...   ...
5863        SIBIU RO 2019-12-26   2.3   1.9   3.6   0.4
5864        SIBIU RO 2019-12-27   0.0   1.8   5.3  -0.8
5865        SIBIU RO 2019-12-28   2.8  -0.3   1.3  -1.3
5866        SIBIU RO 2019-12-29   4.7  -2.6  -0.3  -3.2
5867        SIBIU RO 2019-12-30   0.0  -5.7   0.6  -8.8

[5868 rows x 6 columns]

In [13]:
df = df[(df['DATE'].dt.day == 23) | (df['DATE'].dt.day == 24) | (df['DATE'].dt.day == 25)]

In [14]:
df.head(-40)

                NAME       DATE  PRCP  TAVG  TMAX  TMIN
22    CLUJ NAPOCA RO 1950-12-23   0.0   NaN   4.0  -2.4
23    CLUJ NAPOCA RO 1950-12-24   0.0   NaN   7.0   0.8
24    CLUJ NAPOCA RO 1950-12-25   0.0   NaN   9.3  -0.1
53    CLUJ NAPOCA RO 1951-12-23   0.0   NaN  -7.8 -12.1
54    CLUJ NAPOCA RO 1951-12-24   0.0   NaN  -6.5 -10.0
...              ...        ...   ...   ...   ...   ...
5426        SIBIU RO 2005-12-23   4.8  -3.8  -2.6  -5.5
5427        SIBIU RO 2005-12-24   1.1  -2.8  -0.4  -4.8
5428        SIBIU RO 2005-12-25   0.2   1.0   4.5  -2.3
5457        SIBIU RO 2006-12-23   0.0   1.8   4.8  -0.6
5458        SIBIU RO 2006-12-24   0.0   0.8   2.2   0.4

[526 rows x 6 columns]

In [15]:
df.head(-1)

                NAME       DATE  PRCP  TAVG  TMAX  TMIN
22    CLUJ NAPOCA RO 1950-12-23   0.0   NaN   4.0  -2.4
23    CLUJ NAPOCA RO 1950-12-24   0.0   NaN   7.0   0.8
24    CLUJ NAPOCA RO 1950-12-25   0.0   NaN   9.3  -0.1
53    CLUJ NAPOCA RO 1951-12-23   0.0   NaN  -7.8 -12.1
54    CLUJ NAPOCA RO 1951-12-24   0.0   NaN  -6.5 -10.0
...              ...        ...   ...   ...   ...   ...
5829        SIBIU RO 2018-12-23   0.1   5.9   8.5   3.2
5830        SIBIU RO 2018-12-24   9.8   2.8   7.1   0.9
5831        SIBIU RO 2018-12-25   0.3  -1.0   3.1  -2.3
5860        SIBIU RO 2019-12-23   3.8   7.4  13.2   5.2
5861        SIBIU RO 2019-12-24   7.0   3.7   5.4   2.8

[565 rows x 6 columns]

In [16]:
df.reset_index(drop=True, inplace=True)

In [17]:
df.shape

(566, 6)

In [18]:
df['NAME'] = df['NAME'].str[:-3]

In [19]:
df.head(-1)

            NAME       DATE  PRCP  TAVG  TMAX  TMIN
0    CLUJ NAPOCA 1950-12-23   0.0   NaN   4.0  -2.4
1    CLUJ NAPOCA 1950-12-24   0.0   NaN   7.0   0.8
2    CLUJ NAPOCA 1950-12-25   0.0   NaN   9.3  -0.1
3    CLUJ NAPOCA 1951-12-23   0.0   NaN  -7.8 -12.1
4    CLUJ NAPOCA 1951-12-24   0.0   NaN  -6.5 -10.0
..           ...        ...   ...   ...   ...   ...
560        SIBIU 2018-12-23   0.1   5.9   8.5   3.2
561        SIBIU 2018-12-24   9.8   2.8   7.1   0.9
562        SIBIU 2018-12-25   0.3  -1.0   3.1  -2.3
563        SIBIU 2019-12-23   3.8   7.4  13.2   5.2
564        SIBIU 2019-12-24   7.0   3.7   5.4   2.8

[565 rows x 6 columns]

In [20]:
df.isnull().sum()

NAME      0
DATE      0
PRCP      0
TAVG    241
TMAX      0
TMIN      1
dtype: int64

In [21]:
df[df['TMIN'].isnull()].index.tolist()

[388]

In [22]:
print(df.loc[[388]])

      NAME       DATE  PRCP  TAVG  TMAX  TMIN
388  SIBIU 1953-12-24   1.5  -4.0  -2.2   NaN

In [23]:
df['TAVG'] = df.apply(
    lambda row: (row['TMAX']+row['TMIN'])/2 if np.isnan(row['TAVG']) else row['TAVG'],
    axis=1
)

In [24]:
df.head(-1)

            NAME       DATE  PRCP  TAVG  TMAX  TMIN
0    CLUJ NAPOCA 1950-12-23   0.0  0.80   4.0  -2.4
1    CLUJ NAPOCA 1950-12-24   0.0  3.90   7.0   0.8
2    CLUJ NAPOCA 1950-12-25   0.0  4.60   9.3  -0.1
3    CLUJ NAPOCA 1951-12-23   0.0 -9.95  -7.8 -12.1
4    CLUJ NAPOCA 1951-12-24   0.0 -8.25  -6.5 -10.0
..           ...        ...   ...   ...   ...   ...
560        SIBIU 2018-12-23   0.1  5.90   8.5   3.2
561        SIBIU 2018-12-24   9.8  2.80   7.1   0.9
562        SIBIU 2018-12-25   0.3 -1.00   3.1  -2.3
563        SIBIU 2019-12-23   3.8  7.40  13.2   5.2
564        SIBIU 2019-12-24   7.0  3.70   5.4   2.8

[565 rows x 6 columns]

In [25]:
df.isnull().sum()

NAME    0
DATE    0
PRCP    0
TAVG    0
TMAX    0
TMIN    1
dtype: int64

In [26]:
 df = df.drop(columns =['TMAX', 'TMIN'])

In [27]:
print(df.loc[[386, 387, 388, 389]])

      NAME       DATE  PRCP  TAVG
386   DEVA 2019-12-25   2.3  4.45
387  SIBIU 1952-12-23   3.0  2.30
388  SIBIU 1953-12-24   1.5 -4.00
389  SIBIU 1961-12-23   3.1 -9.65

In [28]:
df.drop(df.index[[387, 388]], inplace=True)

In [29]:
df.shape

(564, 4)

In [30]:
df.reset_index(drop=True, inplace=True)

In [31]:
df.shape

(564, 4)

In [32]:
PRCP = list(df['PRCP'])
PRCP

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.2,
 0.0,
 0.0,
 1.5,
 0.6,
 0.5,
 0.2,
 0.7,
 0.0,
 0.0,
 0.0,
 0.2,
 1.3,
 11.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.6,
 1.2,
 0.0,
 0.0,
 0.5,
 1.2,
 0.0,
 0.8,
 0.6,
 3.0,
 0.0,
 1.4,
 1.6,
 5.3,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.8,
 0.0,
 0.0,
 2.9,
 0.3,
 1.2,
 6.3,
 4.2,
 2.3,
 2.6,
 0.0,
 0.0,
 0.2,
 0.0,
 0.0,
 2.3,
 0.3,
 0.0,
 0.1,
 1.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.1,
 0.0,
 11.9,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.3,
 0.0,
 0.0,
 0.0,
 11.7,
 2.7,
 0.0,
 0.0,
 3.0,
 0.3,
 5.4,
 0.0,
 14.5,
 0.9,
 4.4,
 0.0,
 0.0,
 0.1,
 0.0,
 0.8,
 0.0,
 2.9,
 0.0,
 0.1,
 1.0,
 0.0,
 3.2,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.7,
 0.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.4,
 0.0,
 0.0,
 0.0,
 3.8,
 1.8,
 8.7,
 4.9,
 0.2,
 0.2,
 0.1,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.4,
 0.0,
 0.0,
 3.6,
 0.0,
 0.0,
 5.9,
 0.0,
 0.0,
 0.0,
 1.4,
 0.0,
 1.8,
 1.3,
 2.2,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 12.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.9,
 0.0,
 0.3,
 11.5,
 0.0,
 0.0,
 3.3,
 0.0,
 0.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.8,
 0.4,
 1.1,
 0.0,
 2.7,
 14.8,
 0.5,
 5.0,
 6.3,
 0.1,
 4.4,
 0.0,
 2.5,
 0.0,
 0.8,
 0.4,
 6.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.2,
 0.0,
 0.2,
 1.2,
 0.3,
 0.5,
 2.2,
 3.1,
 9.3,
 1.7,
 0.0,
 0.1,
 0.2,
 0.1,
 0.0,
 0.9,
 0.0,
 0.0,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3,
 0.0,
 0.0,
 6.6,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 12.2,
 0.3,
 0.0,
 0.0,
 6.4,
 9.2,
 0.0,
 0.2,
 3.4,
 0.3,
 3.3,
 0.0,
 1.1,
 0.0,
 0.3,
 0.0,
 0.0,
 0.0,
 0.0,
 4.3,
 0.0,
 6.2,
 2.9,
 0.0,
 0.0,
 0.0,
 4.7,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.1,
 0.0,
 1.5,
 0.5,
 16.1,
 0.5,
 10.0,
 14.2,
 0.9,
 0.1,
 0.0,
 0.0,
 0.0,
 0.4,
 0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 5.0,
 0.1,
 0.0,
 3.9,
 0.2,
 0.0,
 9.8,
 1.1,
 0.0,
 0.0,
 0.2,
 0.0,
 0.9,
 0.4,
 0.9,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 9.1,
 0.0,
 1.2,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.5,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.5,
 0.0,
 1.3,
 0.0,
 1.0,
 13.0,
 0.0,
 1.8,
 5.0,
 2.3,
 3.1,
 0.9,
 2.1,
 0.0,
 4.2,
 1.3,
 4.1,
 0.6,
 0.0,
 0.8,
 0.0,
 0.0,
 9.8,
 0.5,
 1.5,
 3.9,
 4.4,
 0.4,
 4.9,
 0.4,
 1.0,
 4.4,
 0.0,
 2.0,
 0.3,
 0.0,
 0.0,
 1.5,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 1.8,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 31.5,
 0.0,
 0.0,
 0.2,
 1.0,
 4.7,
 0.0,
 0.3,
 2.5,
 0.3,
 1.3,
 0.0,
 6.1,
 0.5,
 0.1,
 0.0,
 0.0,
 0.0,
 0.0,
 0.4,
 0.4,
 4.2,
 0.6,
 0.0,
 0.0,
 0.0,
 1.6,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.4,
 1.6,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.5,
 0.0,
 0.7,
 0.0,
 1.8,
 1.3,
 6.4,
 10.2,
 1.5,
 0.7,
 1.6,
 0.0,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.8,
 0.3,
 0.0,
 4.7,
 0.0,
 0.0,
 8.2,
 4.9,
 0.0,
 0.0,
 1.4,
 0.0,
 4.8,
 1.1,
 0.2,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 6.0,
 0.1,
 0.0,
 0.2,
 0.2,
 0.0,
 0.0,
 0.0,
 1.1,
 0.0,
 0.0,
 0.4,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.1,
 0.0,
 0.0,
 1.2,
 0.0,
 0.0,
 0.1,
 9.8,
 0.3,
 3.8,
 7.0,
 0.0]

In [33]:
TAVG = list(df['TAVG'])
TAVG

[0.8,
 3.9,
 4.6000000000000005,
 -9.95,
 -8.25,
 -9.25,
 2.85,
 1.2000000000000002,
 -0.8,
 -3.8,
 -7.4,
 -13.8,
 -0.3,
 1.55,
 -2.15,
 -1.4,
 -3.1,
 -1.0,
 -1.9,
 -0.3,
 0.3,
 -8.6,
 -9.0,
 -6.7,
 2.1,
 5.4,
 4.7,
 -1.7,
 1.7,
 5.8,
 3.9,
 0.6,
 -1.9,
 -9.1,
 -12.8,
 -8.7,
 -8.3,
 -7.3,
 -8.6,
 -4.2,
 -10.3,
 -9.1,
 -0.9,
 -0.9,
 -2.1,
 1.4,
 1.3,
 0.8,
 -4.3,
 -3.8,
 -2.8,
 -4.2,
 0.8,
 2.3,
 -0.25,
 -1.0,
 0.050000000000000044,
 -3.35,
 -1.8,
 -4.8,
 -1.3,
 1.0999999999999999,
 -1.05,
 4.8,
 2.8000000000000003,
 0.25,
 -4.25,
 -5.35,
 -7.2,
 1.6,
 -2.9,
 -5.4,
 1.2,
 1.0,
 -1.0,
 -0.3,
 0.1,
 -3.0,
 -5.1,
 -4.1,
 -3.3,
 -11.4,
 -5.6,
 0.7,
 0.4,
 1.0,
 1.4,
 5.7,
 4.4,
 0.3,
 1.5,
 -0.4,
 -0.1,
 1.9,
 2.4,
 1.8,
 6.3,
 4.8,
 6.2,
 2.0,
 2.6,
 0.8,
 -0.8,
 -3.4,
 -6.3,
 -2.3,
 -3.7,
 -5.1,
 -7.1,
 -7.2,
 -10.9,
 3.1,
 -1.1,
 -4.4,
 -1.8,
 -0.1,
 1.2,
 0.1,
 2.8,
 0.4,
 -6.1,
 -9.1,
 -5.2,
 -7.2,
 -4.9,
 -2.8,
 -8.6,
 -11.6,
 -13.3,
 1.4,
 1.1,
 4.8,
 0.7,
 -0.3,
 1.9,
 1.4,
 4.9,
 5.2,
 -2.3,
 -2.7,
 -4.9,
 3.2,
 2.6,
 2.0,
 -11.1,
 -15.7,
 -16.1,
 -15.4,
 -15.9,
 -14.1,
 -8.7,
 -10.1,
 -4.4,
 -5.1,
 -10.9,
 -14.6,
 -2.3,
 -6.1,
 -14.6,
 -0.1,
 -4.7,
 -6.7,
 -5.1,
 -1.7,
 -1.9,
 -4.3,
 -2.7,
 -1.6,
 2.6,
 1.9,
 1.6,
 -7.1,
 -7.6,
 -7.3,
 1.2,
 -1.5,
 -2.9,
 2.9,
 3.9,
 6.1,
 0.1,
 4.2,
 3.3,
 -1.4,
 -1.7,
 -0.6,
 -4.1,
 -2.5,
 -3.1,
 -0.6,
 -2.4,
 -4.1,
 6.9,
 2.9,
 0.8,
 3.4,
 0.4,
 2.0,
 -4.2,
 -4.6,
 -3.3,
 0.9,
 0.9,
 1.6,
 3.1,
 1.0,
 -1.4,
 7.6,
 3.5,
 3.9,
 -8.3,
 -6.2,
 -7.1,
 -4.2,
 -5.25,
 -7.6,
 -3.8,
 -8.1,
 -7.85,
 2.35,
 0.8,
 -0.6,
 2.55,
 1.15,
 0.9,
 -0.5,
 -1.85,
 -2.25,
 -2.05,
 3.1,
 2.85,
 1.05,
 -0.6,
 1.1,
 -3.45,
 -1.35,
 -0.6,
 0.1499999999999999,
 0.8,
 0.0,
 6.85,
 4.9,
 -0.8999999999999999,
 -4.1000000000000005,
 -4.4,
 -5.75,
 4.2,
 -1.4999999999999998,
 -3.6999999999999997,
 0.5,
 -0.8,
 -1.0,
 0.19999999999999996,
 0.25,
 -2.2,
 -4.4,
 -5.15,
 -3.4000000000000004,
 -9.9,
 -6.55,
 0.7000000000000002,
 1.75,
 2.7,
 2.6,
 7.25,
 6.35,
 2.0,
 3.0,
 2.1,
 0.8999999999999999,
 0.15000000000000036,
 2.35,
 1.95,
 6.85,
 6.35,
 6.5,
 2.2,
 4.35,
 5.699999999999999,
 1.6,
 -0.19999999999999996,
 -2.2,
 -0.24999999999999994,
 -1.65,
 -3.55,
 -4.35,
 -3.85,
 -8.0,
 3.8,
 2.3,
 -0.8500000000000001,
 2.15,
 2.05,
 3.75,
 5.55,
 4.05,
 2.75,
 -2.15,
 -4.9,
 -2.5999999999999996,
 -2.45,
 -3.6999999999999997,
 0.35,
 -3.8000000000000003,
 -6.8,
 -8.95,
 1.75,
 1.3,
 5.8500000000000005,
 1.5,
 0.85,
 0.9000000000000001,
 -0.34999999999999987,
 5.75,
 9.25,
 0.65,
 1.25,
 -1.25,
 5.35,
 4.6,
 4.85,
 -6.7,
 -8.1,
 -12.45,
 -9.2,
 -13.5,
 -13.350000000000001,
 -7.0,
 -7.3,
 -5.65,
 -1.05,
 -4.45,
 -8.3,
 -1.7999999999999998,
 0.19999999999999996,
 -5.8,
 2.9499999999999997,
 -0.49999999999999994,
 -2.1,
 -0.9,
 -0.25,
 3.3000000000000003,
 -2.1999999999999997,
 -1.4,
 0.8,
 1.5999999999999999,
 1.2999999999999998,
 1.25,
 -5.1,
 -5.4,
 -5.1,
 2.2,
 0.8499999999999999,
 -2.1999999999999997,
 4.1,
 6.3999999999999995,
 7.65,
 5.1,
 4.4,
 7.9,
 -5.3500000000000005,
 -1.4,
 -0.4,
 -2.2,
 1.0,
 -1.9,
 -1.3,
 -2.65,
 -3.2,
 7.0,
 5.55,
 3.7,
 4.7,
 3.15,
 3.8000000000000003,
 -4.15,
 -4.4,
 -3.5,
 -0.95,
 1.2,
 5.35,
 4.55,
 4.1,
 1.1,
 9.0,
 5.9,
 4.45,
 -9.649999999999999,
 -7.9,
 -6.050000000000001,
 -5.6,
 -8.55,
 -10.2,
 -2.9,
 -6.85,
 -8.549999999999999,
 0.5000000000000001,
 -1.65,
 -2.5999999999999996,
 1.05,
 -0.050000000000000044,
 -1.9000000000000001,
 -2.9,
 -3.6,
 -4.2,
 -0.9,
 5.4,
 6.2,
 0.45000000000000007,
 -2.3,
 -0.85,
 -3.95,
 -2.45,
 -2.4,
 -1.25,
 1.0499999999999998,
 -1.1000000000000005,
 6.1,
 3.0,
 0.3999999999999999,
 -4.15,
 -4.1000000000000005,
 -5.4,
 3.1999999999999997,
 -1.3,
 -3.4,
 -0.7,
 -3.6,
 -2.9,
 1.0,
 0.2,
 -3.0,
 -6.4,
 -5.9,
 -3.45,
 -11.4,
 -7.3,
 1.2,
 0.8,
 -0.6,
 1.2,
 7.2,
 3.2,
 -3.6,
 0.4,
 -0.9,
 -2.7,
 5.6,
 3.9,
 3.0,
 9.9,
 7.4,
 5.3,
 1.7,
 2.9,
 2.2,
 0.2,
 -5.9,
 -3.4,
 -2.4,
 -4.6,
 -6.1,
 -7.2,
 -6.1,
 -9.2,
 2.6,
 -2.9,
 -5.4,
 -1.5,
 -1.3,
 2.3,
 4.2,
 1.8,
 -0.2,
 -6.7,
 -9.7,
 -7.1,
 -5.7,
 -4.2,
 -3.0,
 -7.8,
 -12.1,
 -13.6,
 0.7,
 2.6,
 7.2,
 -0.9,
 -2.1,
 1.4,
 0.8,
 7.3,
 7.2,
 -0.3,
 -0.4,
 -2.4,
 4.1,
 2.3,
 2.7,
 -8.7,
 -13.6,
 -19.1,
 -17.5,
 -17.4,
 -14.6,
 -10.0,
 -11.0,
 -6.7,
 -2.3,
 -8.3,
 -15.9,
 -2.6,
 -2.5,
 -10.6,
 -0.2,
 -3.4,
 -5.6,
 -3.7,
 -0.8,
 0.6,
 -3.8,
 -2.8,
 1.0,
 1.8,
 0.8,
 1.0,
 -7.3,
 -7.6,
 -6.6,
 0.4,
 -1.7,
 -4.3,
 7.9,
 6.6,
 13.9,
 2.0,
 8.9,
 9.0,
 -7.1,
 -3.5,
 -1.6,
 -3.6,
 -1.6,
 -3.0,
 -0.9,
 -1.2,
 0.7,
 8.7,
 4.5,
 4.9,
 5.3,
 0.3,
 1.1,
 -6.4,
 -6.4,
 -4.0,
 -1.2,
 1.8,
 2.4,
 5.9,
 2.8,
 -1.0,
 7.4,
 3.7,
 3.1]

In [34]:
len(PRCP)

564

In [35]:
WCH = []
WCH = [(1 if PRCP[i] > 0 and TAVG[i] < 1 else 0, 
        1 if (PRCP[i+1] > 0 and TAVG[i+1] < 1) or (PRCP[i+1] == 0 and TAVG[i+1] < 0.5 and (PRCP[i] > 0 and TAVG[i] < 1)) else 0, 
        1 if (PRCP[i+2] > 0 and TAVG[i+2] < 1) or (PRCP[i+2] == 0 and TAVG[i+2] < 0.5 and ((PRCP[i+1] > 0 and TAVG[i+1] < 1) or (PRCP[i+1] == 0 and TAVG[i+1] < 0.5 and (PRCP[i] > 0 and TAVG[i] < 1)))) else 0) 
       for i in range(0,len(PRCP),3)]

In [36]:
WCH

[(0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 1, 1),
 (1, 0, 1),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 0, 0),
 (0, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 1),
 (0, 1, 1),
 (0, 0, 1),
 (1, 1, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 1),
 (1, 1, 0),
 (0, 0, 1),
 (0, 0, 0),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 1),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 1),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (1, 0, 0),
 (1, 0, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (0, 1, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 1),
 (1, 1, 1),
 (1, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 1, 1),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (0, 1, 0),
 (1, 1, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 1),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (0, 0, 0),
 (1, 1, 1),
 (1, 0, 0),
 (0, 0, 1),
 (0, 0, 0)]

In [37]:
WCH = [item for t in WCH for item in t]

In [38]:
WCH

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0]

In [39]:
len(WCH)

564

In [40]:
df['WCH'] = pd.Series(WCH)

In [41]:
df.head(-1)

            NAME       DATE  PRCP  TAVG  WCH
0    CLUJ NAPOCA 1950-12-23   0.0  0.80    0
1    CLUJ NAPOCA 1950-12-24   0.0  3.90    0
2    CLUJ NAPOCA 1950-12-25   0.0  4.60    0
3    CLUJ NAPOCA 1951-12-23   0.0 -9.95    0
4    CLUJ NAPOCA 1951-12-24   0.0 -8.25    0
..           ...        ...   ...   ...  ...
558        SIBIU 2018-12-23   0.1  5.90    0
559        SIBIU 2018-12-24   9.8  2.80    0
560        SIBIU 2018-12-25   0.3 -1.00    1
561        SIBIU 2019-12-23   3.8  7.40    0
562        SIBIU 2019-12-24   7.0  3.70    0

[563 rows x 5 columns]

In [42]:
df.shape

(564, 5)

In [43]:
df = df[(df['DATE'].dt.day == 25)]

In [44]:
df.reset_index(drop=True, inplace=True)

In [45]:
df.shape

(188, 5)

In [46]:
df = df.drop(columns =['PRCP', 'TAVG'])

In [47]:
df['DATE'] = df['DATE'].dt.year

In [48]:
df.head(-1)

            NAME  DATE  WCH
0    CLUJ NAPOCA  1950    0
1    CLUJ NAPOCA  1951    0
2    CLUJ NAPOCA  1952    0
3    CLUJ NAPOCA  1953    1
4    CLUJ NAPOCA  1954    1
..           ...   ...  ...
182        SIBIU  2014    0
183        SIBIU  2015    0
184        SIBIU  2016    1
185        SIBIU  2017    0
186        SIBIU  2018    1

[187 rows x 3 columns]

In [49]:
df = pd.DataFrame(df.pivot_table(index = 'DATE', columns = 'NAME', values = 'WCH', aggfunc = np.sum).reset_index())

In [50]:
df.head(-1)

NAME  DATE  CLUJ NAPOCA  DEVA  SIBIU
0     1950          0.0   NaN    NaN
1     1951          0.0   NaN    NaN
2     1952          0.0   NaN    NaN
3     1953          1.0   NaN    NaN
4     1954          1.0   NaN    NaN
..     ...          ...   ...    ...
64    2014          1.0   0.0    0.0
65    2015          0.0   0.0    0.0
66    2016          1.0   1.0    1.0
67    2017          0.0   0.0    0.0
68    2018          1.0   0.0    1.0

[69 rows x 4 columns]

In [51]:
df_ao_nino = pd.read_excel("AO and NINO.xlsx", sheet_name='AO and NINO 3.4 DEC')

In [52]:
df_ao_nino.head(-1)

    Year  AO_Dec  NINO3.4_DEC
0   1950  -1.928    -0.603191
1   1951   1.987     0.690825
2   1952  -1.827     0.035286
3   1953   0.575     0.896251
4   1954   0.553    -0.613137
..   ...     ...          ...
64  2014   0.413     0.513652
65  2015   1.444     2.339590
66  2016   1.786    -0.970541
67  2017  -0.059    -1.308160
68  2018   0.110     0.639057

[69 rows x 3 columns]

In [53]:
df_ao_nino.rename(columns = {'Year':'DATE'}, inplace = True)

In [54]:
df_ao_nino.head(-1)

    DATE  AO_Dec  NINO3.4_DEC
0   1950  -1.928    -0.603191
1   1951   1.987     0.690825
2   1952  -1.827     0.035286
3   1953   0.575     0.896251
4   1954   0.553    -0.613137
..   ...     ...          ...
64  2014   0.413     0.513652
65  2015   1.444     2.339590
66  2016   1.786    -0.970541
67  2017  -0.059    -1.308160
68  2018   0.110     0.639057

[69 rows x 3 columns]

In [55]:
df_final = df.merge(df_ao_nino, on="DATE", how="outer")
df_final.head(-1)

    DATE  CLUJ NAPOCA  DEVA  SIBIU  AO_Dec  NINO3.4_DEC
0   1950          0.0   NaN    NaN  -1.928    -0.603191
1   1951          0.0   NaN    NaN   1.987     0.690825
2   1952          0.0   NaN    NaN  -1.827     0.035286
3   1953          1.0   NaN    NaN   0.575     0.896251
4   1954          1.0   NaN    NaN   0.553    -0.613137
..   ...          ...   ...    ...     ...          ...
64  2014          1.0   0.0    0.0   0.413     0.513652
65  2015          0.0   0.0    0.0   1.444     2.339590
66  2016          1.0   1.0    1.0   1.786    -0.970541
67  2017          0.0   0.0    0.0  -0.059    -1.308160
68  2018          1.0   0.0    1.0   0.110     0.639057

[69 rows x 6 columns]

In [56]:
# df = df.drop(columns =['PRCP', 'TAVG']) 
# new = old.drop('B', axis=1)
df_Cluj_Napoca = df_final.drop(columns =['DEVA', 'SIBIU'], axis=1)
df_Cluj_Napoca.head(-1)

    DATE  CLUJ NAPOCA  AO_Dec  NINO3.4_DEC
0   1950          0.0  -1.928    -0.603191
1   1951          0.0   1.987     0.690825
2   1952          0.0  -1.827     0.035286
3   1953          1.0   0.575     0.896251
4   1954          1.0   0.553    -0.613137
..   ...          ...     ...          ...
64  2014          1.0   0.413     0.513652
65  2015          0.0   1.444     2.339590
66  2016          1.0   1.786    -0.970541
67  2017          0.0  -0.059    -1.308160
68  2018          1.0   0.110     0.639057

[69 rows x 4 columns]

In [57]:
df_Sibiu = df_final.drop(columns =['DEVA', 'CLUJ NAPOCA'], axis=1)
df_Sibiu.head(-1)

    DATE  SIBIU  AO_Dec  NINO3.4_DEC
0   1950    NaN  -1.928    -0.603191
1   1951    NaN   1.987     0.690825
2   1952    NaN  -1.827     0.035286
3   1953    NaN   0.575     0.896251
4   1954    NaN   0.553    -0.613137
..   ...    ...     ...          ...
64  2014    0.0   0.413     0.513652
65  2015    0.0   1.444     2.339590
66  2016    1.0   1.786    -0.970541
67  2017    0.0  -0.059    -1.308160
68  2018    1.0   0.110     0.639057

[69 rows x 4 columns]

In [58]:
df_Sibiu.isnull().sum()

DATE            0
SIBIU          11
AO_Dec          0
NINO3.4_DEC     0
dtype: int64

In [59]:
df_Sibiu = df_Sibiu.dropna()
df_Sibiu.head(-1)

    DATE  SIBIU  AO_Dec  NINO3.4_DEC
11  1961    1.0  -1.668    -0.230481
12  1962    1.0  -0.711    -0.587935
13  1963    1.0  -1.178     1.389670
14  1964    1.0  -0.246    -0.702970
15  1965    1.0   0.163     1.905510
16  1966    1.0  -1.401    -0.269202
17  1967    0.0  -0.347    -0.069046
18  1968    1.0  -0.783     0.943006
19  1969    1.0  -1.856     0.518850
20  1970    0.0  -0.399    -0.884574
21  1971    0.0   0.824    -0.606350
22  1972    0.0   1.238     2.315750
23  1973    0.0  -0.181    -2.015400
24  1974    0.0   0.556    -0.482256
25  1975    0.0   1.290    -1.269240
26  1976    1.0  -2.074     0.883192
27  1977    0.0  -0.240     1.140400
28  1978    0.0  -0.980     0.256152
29  1979    0.0   1.295     0.632110
30  1980    1.0  -0.057     0.302537
31  1981    0.0  -1.216    -0.127836
32  1982    0.0   0.967     2.474710
33  1983    0.0   0.186    -1.114650
34  1984    1.0   0.446    -1.201930
35  1985    0.0  -1.948    -0.212954
36  1986    1.0   0.060     1.468400
37  1987    1.0  -0.534     0.860455
38  1988    0.0   1.679    -1.960740
39  1989    0.0  -0.644     0.004827
40  1990    0.0   1.277     0.462419
41  1991    1.0   1.613     2.135200
42  1992    0.0   1.627     0.125699
43  1993    0.0  -0.104     0.282074
44  1994    0.0   0.894     1.519950
45  1995    0.0  -2.127    -0.994303
46  1996    1.0  -1.721    -0.527109
47  1997    0.0  -0.071     2.119700
48  1998    1.0   1.353    -1.824140
49  1999    0.0   1.043    -1.795610
50  2000    0.0  -2.354    -0.867477
51  2001    1.0  -1.322    -0.465529
52  2002    1.0  -1.592     1.319600
53  2003    1.0   0.265     0.348123
54  2004    0.0   1.230     0.649489
55  2005    0.0  -2.104    -1.069790
56  2006    0.0   2.282     1.054470
57  2007    0.0   0.821    -1.568050
58  2008    1.0   0.648    -1.036900
59  2009    0.0  -3.413     1.667540
60  2010    0.0  -2.631    -1.725650
61  2011    1.0   2.221    -1.099000
62  2012    0.0  -1.749    -0.571752
63  2013    0.0   1.475    -0.348984
64  2014    0.0   0.413     0.513652
65  2015    0.0   1.444     2.339590
66  2016    1.0   1.786    -0.970541
67  2017    0.0  -0.059    -1.308160
68  2018    1.0   0.110     0.639057

In [60]:
df_Sibiu.reset_index(drop=True, inplace=True)
df_Sibiu.head(-1)

    DATE  SIBIU  AO_Dec  NINO3.4_DEC
0   1961    1.0  -1.668    -0.230481
1   1962    1.0  -0.711    -0.587935
2   1963    1.0  -1.178     1.389670
3   1964    1.0  -0.246    -0.702970
4   1965    1.0   0.163     1.905510
5   1966    1.0  -1.401    -0.269202
6   1967    0.0  -0.347    -0.069046
7   1968    1.0  -0.783     0.943006
8   1969    1.0  -1.856     0.518850
9   1970    0.0  -0.399    -0.884574
10  1971    0.0   0.824    -0.606350
11  1972    0.0   1.238     2.315750
12  1973    0.0  -0.181    -2.015400
13  1974    0.0   0.556    -0.482256
14  1975    0.0   1.290    -1.269240
15  1976    1.0  -2.074     0.883192
16  1977    0.0  -0.240     1.140400
17  1978    0.0  -0.980     0.256152
18  1979    0.0   1.295     0.632110
19  1980    1.0  -0.057     0.302537
20  1981    0.0  -1.216    -0.127836
21  1982    0.0   0.967     2.474710
22  1983    0.0   0.186    -1.114650
23  1984    1.0   0.446    -1.201930
24  1985    0.0  -1.948    -0.212954
25  1986    1.0   0.060     1.468400
26  1987    1.0  -0.534     0.860455
27  1988    0.0   1.679    -1.960740
28  1989    0.0  -0.644     0.004827
29  1990    0.0   1.277     0.462419
30  1991    1.0   1.613     2.135200
31  1992    0.0   1.627     0.125699
32  1993    0.0  -0.104     0.282074
33  1994    0.0   0.894     1.519950
34  1995    0.0  -2.127    -0.994303
35  1996    1.0  -1.721    -0.527109
36  1997    0.0  -0.071     2.119700
37  1998    1.0   1.353    -1.824140
38  1999    0.0   1.043    -1.795610
39  2000    0.0  -2.354    -0.867477
40  2001    1.0  -1.322    -0.465529
41  2002    1.0  -1.592     1.319600
42  2003    1.0   0.265     0.348123
43  2004    0.0   1.230     0.649489
44  2005    0.0  -2.104    -1.069790
45  2006    0.0   2.282     1.054470
46  2007    0.0   0.821    -1.568050
47  2008    1.0   0.648    -1.036900
48  2009    0.0  -3.413     1.667540
49  2010    0.0  -2.631    -1.725650
50  2011    1.0   2.221    -1.099000
51  2012    0.0  -1.749    -0.571752
52  2013    0.0   1.475    -0.348984
53  2014    0.0   0.413     0.513652
54  2015    0.0   1.444     2.339590
55  2016    1.0   1.786    -0.970541
56  2017    0.0  -0.059    -1.308160
57  2018    1.0   0.110     0.639057

In [61]:
df_Deva= df_final.drop(columns =['CLUJ NAPOCA', 'SIBIU'], axis=1)
df_Deva.head(-1)

    DATE  DEVA  AO_Dec  NINO3.4_DEC
0   1950   NaN  -1.928    -0.603191
1   1951   NaN   1.987     0.690825
2   1952   NaN  -1.827     0.035286
3   1953   NaN   0.575     0.896251
4   1954   NaN   0.553    -0.613137
..   ...   ...     ...          ...
64  2014   0.0   0.413     0.513652
65  2015   0.0   1.444     2.339590
66  2016   1.0   1.786    -0.970541
67  2017   0.0  -0.059    -1.308160
68  2018   0.0   0.110     0.639057

[69 rows x 4 columns]

In [62]:
df_Deva.isnull().sum()

DATE            0
DEVA           11
AO_Dec          0
NINO3.4_DEC     0
dtype: int64

In [63]:
df_Deva = df_Deva.dropna()
df_Deva.head(-1)

    DATE  DEVA  AO_Dec  NINO3.4_DEC
11  1961   1.0  -1.668    -0.230481
12  1962   1.0  -0.711    -0.587935
13  1963   1.0  -1.178     1.389670
14  1964   0.0  -0.246    -0.702970
15  1965   1.0   0.163     1.905510
16  1966   1.0  -1.401    -0.269202
17  1967   0.0  -0.347    -0.069046
18  1968   0.0  -0.783     0.943006
19  1969   1.0  -1.856     0.518850
20  1970   0.0  -0.399    -0.884574
21  1971   0.0   0.824    -0.606350
22  1972   0.0   1.238     2.315750
23  1973   0.0  -0.181    -2.015400
24  1974   0.0   0.556    -0.482256
25  1975   1.0   1.290    -1.269240
26  1976   1.0  -2.074     0.883192
27  1977   1.0  -0.240     1.140400
28  1978   0.0  -0.980     0.256152
29  1979   0.0   1.295     0.632110
30  1980   0.0  -0.057     0.302537
31  1981   0.0  -1.216    -0.127836
32  1982   0.0   0.967     2.474710
33  1983   0.0   0.186    -1.114650
34  1984   1.0   0.446    -1.201930
35  1985   0.0  -1.948    -0.212954
36  1986   1.0   0.060     1.468400
37  1987   0.0  -0.534     0.860455
38  1988   0.0   1.679    -1.960740
39  1989   0.0  -0.644     0.004827
40  1990   0.0   1.277     0.462419
41  1991   0.0   1.613     2.135200
42  1992   0.0   1.627     0.125699
43  1993   0.0  -0.104     0.282074
44  1994   1.0   0.894     1.519950
45  1995   0.0  -2.127    -0.994303
46  1996   1.0  -1.721    -0.527109
47  1997   0.0  -0.071     2.119700
48  1998   1.0   1.353    -1.824140
49  1999   0.0   1.043    -1.795610
50  2000   0.0  -2.354    -0.867477
51  2001   1.0  -1.322    -0.465529
52  2002   1.0  -1.592     1.319600
53  2003   1.0   0.265     0.348123
54  2004   0.0   1.230     0.649489
55  2005   1.0  -2.104    -1.069790
56  2006   0.0   2.282     1.054470
57  2007   0.0   0.821    -1.568050
58  2008   1.0   0.648    -1.036900
59  2009   0.0  -3.413     1.667540
60  2010   0.0  -2.631    -1.725650
61  2011   1.0   2.221    -1.099000
62  2012   0.0  -1.749    -0.571752
63  2013   0.0   1.475    -0.348984
64  2014   0.0   0.413     0.513652
65  2015   0.0   1.444     2.339590
66  2016   1.0   1.786    -0.970541
67  2017   0.0  -0.059    -1.308160
68  2018   0.0   0.110     0.639057

In [64]:
df_Sibiu.reset_index(drop=True, inplace=True)
df_Sibiu.head(-1)

    DATE  SIBIU  AO_Dec  NINO3.4_DEC
0   1961    1.0  -1.668    -0.230481
1   1962    1.0  -0.711    -0.587935
2   1963    1.0  -1.178     1.389670
3   1964    1.0  -0.246    -0.702970
4   1965    1.0   0.163     1.905510
5   1966    1.0  -1.401    -0.269202
6   1967    0.0  -0.347    -0.069046
7   1968    1.0  -0.783     0.943006
8   1969    1.0  -1.856     0.518850
9   1970    0.0  -0.399    -0.884574
10  1971    0.0   0.824    -0.606350
11  1972    0.0   1.238     2.315750
12  1973    0.0  -0.181    -2.015400
13  1974    0.0   0.556    -0.482256
14  1975    0.0   1.290    -1.269240
15  1976    1.0  -2.074     0.883192
16  1977    0.0  -0.240     1.140400
17  1978    0.0  -0.980     0.256152
18  1979    0.0   1.295     0.632110
19  1980    1.0  -0.057     0.302537
20  1981    0.0  -1.216    -0.127836
21  1982    0.0   0.967     2.474710
22  1983    0.0   0.186    -1.114650
23  1984    1.0   0.446    -1.201930
24  1985    0.0  -1.948    -0.212954
25  1986    1.0   0.060     1.468400
26  1987    1.0  -0.534     0.860455
27  1988    0.0   1.679    -1.960740
28  1989    0.0  -0.644     0.004827
29  1990    0.0   1.277     0.462419
30  1991    1.0   1.613     2.135200
31  1992    0.0   1.627     0.125699
32  1993    0.0  -0.104     0.282074
33  1994    0.0   0.894     1.519950
34  1995    0.0  -2.127    -0.994303
35  1996    1.0  -1.721    -0.527109
36  1997    0.0  -0.071     2.119700
37  1998    1.0   1.353    -1.824140
38  1999    0.0   1.043    -1.795610
39  2000    0.0  -2.354    -0.867477
40  2001    1.0  -1.322    -0.465529
41  2002    1.0  -1.592     1.319600
42  2003    1.0   0.265     0.348123
43  2004    0.0   1.230     0.649489
44  2005    0.0  -2.104    -1.069790
45  2006    0.0   2.282     1.054470
46  2007    0.0   0.821    -1.568050
47  2008    1.0   0.648    -1.036900
48  2009    0.0  -3.413     1.667540
49  2010    0.0  -2.631    -1.725650
50  2011    1.0   2.221    -1.099000
51  2012    0.0  -1.749    -0.571752
52  2013    0.0   1.475    -0.348984
53  2014    0.0   0.413     0.513652
54  2015    0.0   1.444     2.339590
55  2016    1.0   1.786    -0.970541
56  2017    0.0  -0.059    -1.308160
57  2018    1.0   0.110     0.639057

## Cluj Napoca

In [95]:
df_Cluj_Napoca.head(32)

    DATE  CLUJ NAPOCA  AO_Dec  NINO3.4_DEC
0   1950          0.0  -1.928    -0.603191
1   1951          0.0   1.987     0.690825
2   1952          0.0  -1.827     0.035286
3   1953          1.0   0.575     0.896251
4   1954          1.0   0.553    -0.613137
5   1955          0.0  -0.444    -1.481060
6   1956          1.0   0.001    -0.430436
7   1957          0.0   0.828     1.782100
8   1958          0.0  -1.687     0.375178
9   1959          0.0  -0.042    -0.053546
10  1960          1.0  -0.343    -0.088747
11  1961          1.0  -1.668    -0.230481
12  1962          1.0  -0.711    -0.587935
13  1963          1.0  -1.178     1.389670
14  1964          0.0  -0.246    -0.702970
15  1965          0.0   0.163     1.905510
16  1966          1.0  -1.401    -0.269202
17  1967          0.0  -0.347    -0.069046
18  1968          1.0  -0.783     0.943006
19  1969          1.0  -1.856     0.518850
20  1970          0.0  -0.399    -0.884574
21  1971          0.0   0.824    -0.606350
22  1972          0.0   1.238     2.315750
23  1973          0.0  -0.181    -2.015400
24  1974          0.0   0.556    -0.482256
25  1975          0.0   1.290    -1.269240
26  1976          1.0  -2.074     0.883192
27  1977          1.0  -0.240     1.140400
28  1978          0.0  -0.980     0.256152
29  1979          0.0   1.295     0.632110
30  1980          0.0  -0.057     0.302537
31  1981          0.0  -1.216    -0.127836

In [65]:
from sklearn.model_selection import train_test_split

In [72]:
X_Cluj = df_Cluj_Napoca[["AO_Dec", "NINO3.4_DEC"]]
y_Cluj = df_Cluj_Napoca["CLUJ NAPOCA"]

In [76]:
X_train_Cluj, X_test_Cluj, y_train_Cluj, y_test_Cluj = train_test_split(X_Cluj, y_Cluj, test_size = 0.2)

In [79]:
from sklearn.linear_model import LogisticRegression

In [80]:
model_Cluj = LogisticRegression()

In [81]:
model_Cluj.fit(X_train_Cluj, y_train_Cluj)

LogisticRegression()

In [84]:
model_Cluj.score(X_test_Cluj, y_test_Cluj)

0.7857142857142857

In [89]:
X_test_Cluj

    AO_Dec  NINO3.4_DEC
31  -1.216    -0.127836
8   -1.687     0.375178
5   -0.444    -1.481060
44   0.894     1.519950
46  -1.721    -0.527109
37  -0.534     0.860455
18  -0.783     0.943006
49   1.043    -1.795610
14  -0.246    -0.702970
32   0.967     2.474710
68   0.110     0.639057
22   1.238     2.315750
38   1.679    -1.960740
58   0.648    -1.036900

In [86]:
model_Cluj.predict_proba(X_test_Cluj)

array([[0.49936004, 0.50063996],
       [0.44632962, 0.55367038],
       [0.61108858, 0.38891142],
       [0.54331957, 0.45668043],
       [0.4890587 , 0.5109413 ],
       [0.49089426, 0.50910574],
       [0.47191692, 0.52808308],
       [0.70481306, 0.29518694],
       [0.58519645, 0.41480355],
       [0.50021083, 0.49978917],
       [0.54035453, 0.45964547],
       [0.52432137, 0.47567863],
       [0.74180854, 0.25819146],
       [0.6512593 , 0.3487407 ]])

In [88]:
model_Cluj.predict_proba([[0, -1.5]])

array([[0.63688785, 0.36311215]])

In [96]:
model_Cluj.predict([[0, -1.5]])

array([0.])

## Sibiu

In [97]:
df_Sibiu.head(-1)

    DATE  SIBIU  AO_Dec  NINO3.4_DEC
0   1961    1.0  -1.668    -0.230481
1   1962    1.0  -0.711    -0.587935
2   1963    1.0  -1.178     1.389670
3   1964    1.0  -0.246    -0.702970
4   1965    1.0   0.163     1.905510
5   1966    1.0  -1.401    -0.269202
6   1967    0.0  -0.347    -0.069046
7   1968    1.0  -0.783     0.943006
8   1969    1.0  -1.856     0.518850
9   1970    0.0  -0.399    -0.884574
10  1971    0.0   0.824    -0.606350
11  1972    0.0   1.238     2.315750
12  1973    0.0  -0.181    -2.015400
13  1974    0.0   0.556    -0.482256
14  1975    0.0   1.290    -1.269240
15  1976    1.0  -2.074     0.883192
16  1977    0.0  -0.240     1.140400
17  1978    0.0  -0.980     0.256152
18  1979    0.0   1.295     0.632110
19  1980    1.0  -0.057     0.302537
20  1981    0.0  -1.216    -0.127836
21  1982    0.0   0.967     2.474710
22  1983    0.0   0.186    -1.114650
23  1984    1.0   0.446    -1.201930
24  1985    0.0  -1.948    -0.212954
25  1986    1.0   0.060     1.468400
26  1987    1.0  -0.534     0.860455
27  1988    0.0   1.679    -1.960740
28  1989    0.0  -0.644     0.004827
29  1990    0.0   1.277     0.462419
30  1991    1.0   1.613     2.135200
31  1992    0.0   1.627     0.125699
32  1993    0.0  -0.104     0.282074
33  1994    0.0   0.894     1.519950
34  1995    0.0  -2.127    -0.994303
35  1996    1.0  -1.721    -0.527109
36  1997    0.0  -0.071     2.119700
37  1998    1.0   1.353    -1.824140
38  1999    0.0   1.043    -1.795610
39  2000    0.0  -2.354    -0.867477
40  2001    1.0  -1.322    -0.465529
41  2002    1.0  -1.592     1.319600
42  2003    1.0   0.265     0.348123
43  2004    0.0   1.230     0.649489
44  2005    0.0  -2.104    -1.069790
45  2006    0.0   2.282     1.054470
46  2007    0.0   0.821    -1.568050
47  2008    1.0   0.648    -1.036900
48  2009    0.0  -3.413     1.667540
49  2010    0.0  -2.631    -1.725650
50  2011    1.0   2.221    -1.099000
51  2012    0.0  -1.749    -0.571752
52  2013    0.0   1.475    -0.348984
53  2014    0.0   0.413     0.513652
54  2015    0.0   1.444     2.339590
55  2016    1.0   1.786    -0.970541
56  2017    0.0  -0.059    -1.308160
57  2018    1.0   0.110     0.639057

In [98]:
X_Sibiu = df_Sibiu[["AO_Dec", "NINO3.4_DEC"]]
y_Sibiu = df_Sibiu["SIBIU"]

In [142]:
X_train_Sibiu, X_test_Sibiu, y_train_Sibiu, y_test_Sibiu = train_test_split(X_Sibiu, y_Sibiu, train_size = 0.8)

In [143]:
model_Sibiu = LogisticRegression()

In [144]:
model_Sibiu.fit(X_train_Sibiu, y_train_Sibiu)

LogisticRegression()

In [145]:
model_Sibiu.score(X_test_Sibiu, y_test_Sibiu)

0.8333333333333334

In [146]:
X_test_Sibiu

    AO_Dec  NINO3.4_DEC
24  -1.948    -0.212954
50   2.221    -1.099000
33   0.894     1.519950
11   1.238     2.315750
52   1.475    -0.348984
16  -0.240     1.140400
14   1.290    -1.269240
38   1.043    -1.795610
8   -1.856     0.518850
22   0.186    -1.114650
53   0.413     0.513652
2   -1.178     1.389670

In [147]:
model_Sibiu.predict_proba(X_test_Sibiu)

array([[0.54604631, 0.45395369],
       [0.67111445, 0.32888555],
       [0.53724346, 0.46275654],
       [0.51142629, 0.48857371],
       [0.62679536, 0.37320464],
       [0.52761652, 0.47238348],
       [0.6587078 , 0.3412922 ],
       [0.67354373, 0.32645627],
       [0.51727606, 0.48272394],
       [0.62974846, 0.37025154],
       [0.56856467, 0.43143533],
       [0.49580298, 0.50419702]])

In [148]:
model_Sibiu.predict_proba([[0, -1.5]])

array([[0.64095469, 0.35904531]])

In [149]:
model_Sibiu.predict([[0, -1.5]])

array([0.])

## Deva

In [150]:
df_Deva.head(-1)

    DATE  DEVA  AO_Dec  NINO3.4_DEC
11  1961   1.0  -1.668    -0.230481
12  1962   1.0  -0.711    -0.587935
13  1963   1.0  -1.178     1.389670
14  1964   0.0  -0.246    -0.702970
15  1965   1.0   0.163     1.905510
16  1966   1.0  -1.401    -0.269202
17  1967   0.0  -0.347    -0.069046
18  1968   0.0  -0.783     0.943006
19  1969   1.0  -1.856     0.518850
20  1970   0.0  -0.399    -0.884574
21  1971   0.0   0.824    -0.606350
22  1972   0.0   1.238     2.315750
23  1973   0.0  -0.181    -2.015400
24  1974   0.0   0.556    -0.482256
25  1975   1.0   1.290    -1.269240
26  1976   1.0  -2.074     0.883192
27  1977   1.0  -0.240     1.140400
28  1978   0.0  -0.980     0.256152
29  1979   0.0   1.295     0.632110
30  1980   0.0  -0.057     0.302537
31  1981   0.0  -1.216    -0.127836
32  1982   0.0   0.967     2.474710
33  1983   0.0   0.186    -1.114650
34  1984   1.0   0.446    -1.201930
35  1985   0.0  -1.948    -0.212954
36  1986   1.0   0.060     1.468400
37  1987   0.0  -0.534     0.860455
38  1988   0.0   1.679    -1.960740
39  1989   0.0  -0.644     0.004827
40  1990   0.0   1.277     0.462419
41  1991   0.0   1.613     2.135200
42  1992   0.0   1.627     0.125699
43  1993   0.0  -0.104     0.282074
44  1994   1.0   0.894     1.519950
45  1995   0.0  -2.127    -0.994303
46  1996   1.0  -1.721    -0.527109
47  1997   0.0  -0.071     2.119700
48  1998   1.0   1.353    -1.824140
49  1999   0.0   1.043    -1.795610
50  2000   0.0  -2.354    -0.867477
51  2001   1.0  -1.322    -0.465529
52  2002   1.0  -1.592     1.319600
53  2003   1.0   0.265     0.348123
54  2004   0.0   1.230     0.649489
55  2005   1.0  -2.104    -1.069790
56  2006   0.0   2.282     1.054470
57  2007   0.0   0.821    -1.568050
58  2008   1.0   0.648    -1.036900
59  2009   0.0  -3.413     1.667540
60  2010   0.0  -2.631    -1.725650
61  2011   1.0   2.221    -1.099000
62  2012   0.0  -1.749    -0.571752
63  2013   0.0   1.475    -0.348984
64  2014   0.0   0.413     0.513652
65  2015   0.0   1.444     2.339590
66  2016   1.0   1.786    -0.970541
67  2017   0.0  -0.059    -1.308160
68  2018   0.0   0.110     0.639057

In [151]:
X_Deva = df_Deva[["AO_Dec", "NINO3.4_DEC"]]
y_Deva = df_Deva["DEVA"]

In [217]:
X_train_Deva, X_test_Deva, y_train_Deva, y_test_Deva = train_test_split(X_Deva, y_Deva, test_size = 0.2)

In [218]:
model_Deva = LogisticRegression()

In [219]:
model_Deva.fit(X_train_Deva, y_train_Deva)

LogisticRegression()

In [220]:
model_Deva.score(X_test_Deva, y_test_Deva)

0.6666666666666666

In [221]:
X_test_Deva

    AO_Dec  NINO3.4_DEC
35  -1.948    -0.212954
45  -2.127    -0.994303
31  -1.216    -0.127836
17  -0.347    -0.069046
16  -1.401    -0.269202
36   0.060     1.468400
41   1.613     2.135200
54   1.230     0.649489
46  -1.721    -0.527109
19  -1.856     0.518850
67  -0.059    -1.308160
68   0.110     0.639057

In [222]:
model_Deva.predict_proba(X_test_Deva)

array([[0.57796809, 0.42203191],
       [0.55550923, 0.44449077],
       [0.60111995, 0.39888005],
       [0.62713776, 0.37286224],
       [0.59271954, 0.40728046],
       [0.66963976, 0.33036024],
       [0.72173977, 0.27826023],
       [0.68439155, 0.31560845],
       [0.57777078, 0.42222922],
       [0.59652733, 0.40347267],
       [0.6091376 , 0.3908624 ],
       [0.65437633, 0.34562367]])

In [223]:
model_Deva.predict_proba([[0, -1.5]])

array([[0.6067365, 0.3932635]])

In [224]:
model_Deva.predict([[0, -1.5]])

array([0.])